@*<script>
        $('.autoplay').slick({
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: true,
                    }
                }
            ]
        });
    </script>*@


<div class="bodywrap">
    <div class="clearfix">

    </div>

    <div class="autoplayfaded" style="position:relative">
        @if (ViewBag.Slideshow != null)
        {
            foreach (var item in ViewBag.Slideshow)
            {
                <div>
                    <div class="slider-top_box">

                    </div>

                    <img src="~/Upload/Slideshow/@item.Images" class="img-fluid" style="width:100%" alt="@item.Images" />
                </div>
            }
        }

    </div>
    <section class="section_about">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <img width="708" height="700" class="lazyload loaded" src="//bizweb.dktcdn.net/100/487/020/themes/911678/assets/about.png?1705897553005" data-src="//bizweb.dktcdn.net/100/487/020/themes/911678/assets/about.png?1705897553005" alt="" data-was-processed="true">
                </div>
                <div class="col-lg-6">

                    @if (ViewBag.Vechungtoi != null)
                    {
                        foreach (TCP.DTO.DTO_NewsCategories item in ViewBag.Vechungtoi)
                        {
                            <span class="title-smail">
                                Về Chúng Tôi
                            </span>
                            <span class="title">
                                @Html.Raw(item.NewsCategoryDesc)
                            </span>
                            <span class="content">
                                @Html.Raw(item.NewsCategoryContents)
                            </span>
                        }
                    }

                <ul class="faq">
                    @if (ViewBag.Vechungtoilist != null)
                    {
                        foreach (TCP.DTO.DTO_News item in ViewBag.Vechungtoilist)
                        {
                            <li>
                                <h3>
                                   @item.NewsTitle
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        ! Font Awesome Pro 6.4.0 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.
                                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path>
                                    </svg>
                                </h3>
                                <div class="content-faq" style="display:none">
                                    @Html.Raw(item.NewsDesc)
                                </div>
                            </li>
                        }
                    }

                </ul>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.faq li h3').on('click', function (e) {
            e.preventDefault(); var $this = $(this);
            $this.parents('li').find('.content-faq').slideToggle();
            $this.parents('li').toggleClass('active');
            return false;
        });
    </script>



    <section class="section_tab_product ">

        <div class="container">
            <div class="block-product">


                <h2 class="title">
                    <a href="/collections/all" title="Sản phẩm của chúng tôi">Sản phẩm của chúng tôi</a>
                </h2>
                <div class="row">
                    <div class="col-12 e-tabs not-dqtab ajax-tab-1" data-section="ajax-tab-1" data-view="grid_4">
                        <ul class="tabs tabs-title tab-desktop ajax clearfix">
                            @if (ViewBag.Listproductcategory != null)
                            {
                                var i = 0;
                                foreach (TCP.DTO.DTO_ProductCategories item in ViewBag.Listproductcategory)
                                {

                                    if (i == 0)
                                    {
                                        <li id="firstli" class="tab-link has-content current" data-tab="tab-@item.ProductCategoryId" data-url="@item.ProductCategoryUrl">
                                            <span title="@item.ProductCategoryTitle">
                                                @item.ProductCategoryTitle
                                            </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="tab-link has-content" data-tab="tab-@item.ProductCategoryId" data-url="@item.ProductCategoryUrl">
                                            <span title="@item.ProductCategoryTitle">
                                                @item.ProductCategoryTitle
                                            </span>
                                        </li>
                                    }
                                    i++;
                                }
                            }
                        </ul>
                        @if (ViewBag.Listproductcategory != null)
                        {
                            foreach (TCP.DTO.DTO_ProductCategories item in ViewBag.Listproductcategory)
                            {
                                @Html.Action("ProductByCate", "Home", new { ProductCategoryId = item.ProductCategoryId, url = item.ProductCategoryUrl })
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
    </section>





    <section class="section_duan_dalam">
        <div class="container">
            <div class="block-blog">
                <h3 class="title">
                    <a class="title-name" href="du-an-da-hoan-thanh" title="Một số dự án đã hoàn thiện">
                        Một số dự án đã hoàn thiện
                    </a>
                </h3>


                <div class="duan-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-multirow" style="cursor: grab;">
                    <div class="swiper-wrapper" style="width: 1108px; transform: translate3d(0px, 0px, 0px);">
                        @if (ViewBag.Duan != null)
                        {
                            foreach (TCP.DTO.DTO_News item in ViewBag.Duan)
                            {
                                <div class="swiper-slide" style="width: 257px; margin-right: 20px;">
                                    <div class="item-blog-duan">
                                        <div class="block-thumb">

                                            <a class="thumb" href="@item.NewsUrl" title="@item.NewsTitle">
                                                <img class="lazyload" src="~/Upload/News/@item.NewsImage" data-src="~/Upload/News/@item.NewsImage" alt="@item.NewsTitle">
                                            </a>

                                            <div class="time-post">
                                                26
                                                <span>Tháng 05</span>

                                            </div>

                                        </div>
                                        <div class="block-content">
                                            <h3>
                                                <a class="line-clamp line-clamp-2" href="@item.NewsUrl" title="@item.NewsTitle">@item.NewsTitle</a>
                                            </h3>


                                            <a class="viewmore" href="@item.NewsUrl" title="Đọc tiếp">Đọc tiếp</a>

                                        </div>

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="text-center no-padding" style="margin-top: 15px">
                    <a class="see-more" title="Xem tất cả" href="du-an">Xem tất cả</a>
                </div>


            </div>
        </div>
    </section>




    <section class="section_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="block-blog block-blog1">
                        <h3 class="title">
                            <a class="title-name" href="tin-tuc" title="Tin tức mới nhất">
                                Tin tức mới nhất
                            </a>
                        </h3>
                        @{
                            <div class="row">
                                @if (ViewBag.Tintuc != null)
                                {
                                    foreach (TCP.DTO.DTO_News item in ViewBag.Tintuc)
                                    {
                                        <div class="item-blog col-sm-6 col-6">
                                            <div class="block-thumb">

                                                <a class="thumb" href="@item.NewsUrl" title="@item.NewsTitle">
                                                    <img class="lazyload" src="~/Upload/News/@item.NewsImage" data-src="~/Upload/News/@item.NewsImage" alt="@item.NewsTitle">
                                                </a>
                                            </div>
                                            <div class="block-content">


                                                <h3>
                                                    <a class="line-clamp line-clamp-2" href="@item.NewsUrl" title="@item.NewsTitle">@item.NewsTitle</a>
                                                </h3>

                                                <div class="time-post">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                                    </svg>
                                                    @item.CreatedOn.ToShortDateString();
                                                </div>
                                                <p class="justify line-clamp line-clamp-3">
                                                    Động lực tăng trưởng kinh tế đã dẫn đến nhiều hệ lụy như suy thoái môi trường và chênh lệch xã hội. Do đó&nbsp;phát triển bền vững&nbsp;đã được đặt ra nhằm thúc đẩy các quốc gia phát triển trên cơ sở: tăng trưởng kinh tế, đảm bảo công bằng xã...
                                                </p>

                                            </div>

                                        </div>
                                    }
                                }

                            </div>

                        }


                        <div class="text-center no-padding">
                            <a class="see-more" title="Xem tất cả" href="tin-tuc">Xem tất cả</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section_brand">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <span class="title">
                        Đối tác của chúng tôi
                    </span>
                    <span class="content">
                        Những đối tác đã tin tưởng và cùng đồng hành với chúng tôi trong suốt những năm qua
                    </span>
                </div>
                <div class="col-lg-8">
                    <ul>
                        @if (ViewBag.Doitac != null)
                        {
                            foreach (TCP.DTO.DTO_Doitac item in ViewBag.Doitac)
                            {
                                <li>
                                    <a title="Thương hiệu">
                                        <img width="390" height="129" class="lazyload" src="~/Upload/Doitac/@item.Images" data-src="~/Upload/Doitac/@item.Images" alt="Thương hiệu">
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </section>



</div>



